---
---

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)'
));

$baseurl: '{{ site.baseurl }}/images';

@mixin montserrat($size) {
  font-family: 'Montserrat-Medium', sans-serif;
  font-variant-caps: all-small-caps;
  font-size: $size;
}

@mixin josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

#header h1 a {
  font-family: "Expletus Sans", sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 1.5em;
}

.align-bottom {
  vertical-align: bottom;
}

#one {
  padding-bottom: 0;
}

#two {
  ul {
    li {
      padding: 2.5em 0em 2.5em 0em;

      @include breakpoint(small) {
        padding: .5em 0em .5em 0em;
      }
    }
  }
}

.only-large {
  @include breakpoint(large) {
    display: inherit;
  }

  @include breakpoint(medium) {
    display: none;
  }
}

.not-large {
  @include breakpoint(large) {
    display: none;
  }

  @include breakpoint(medium) {
    display: inherit;
  }
}


div.faq {
  img {
    width: 75%;
    display: block;
    margin: 0 auto;

    @include breakoint(small) {
      width: 100%;
    }
  }
}

div.press {
  width: 50%;
  margin: 0 auto;

  @include breakoint(small) {
    width: 90%;
  }

  h1 {
    font-family: 'Expletus Sans', sans-serif;
    font-size: 4em;
    padding: 20px;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
  }

  h2 {
    padding: 0;
    @include josefin;
    font-size: 1.5em;
    text-align: center;
  }

  h2#press {
    text-decoration: underline;
    padding-bottom: 60px;
    font-size: 2.5em;
  }

  h3 {
    padding: 20px 0;
    @include montserrat(1.5em);
    //@include montserrat(2em);
  }

  h4 {
    padding: 10px 0;
    @include josefin;
    font-size: 1.25em;
  }

  ul {
    list-style: square;
    font-size: 1.2em;
    padding-left: 30px;
  }

  p {
    font-size: 1.2em;
  }

  img {
    width: 75%;
    display: block;
    margin: 0 auto;

    @include breakoint(small) {
      width: 90%;
    }
  }

  img.right {
    margin-top: -40px;
    float: right;
    padding: 10px;
    width: 40%;

    @include breakoint(small) {
      margin-top: inherit;
      float: none;
      width: 90%;
    }

  }

  img.logo {
    width: 50%;

    &.shaded {
      border-radius: 10px;

      background-color: #eee;
      background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 50%, #ccc 50%),
      linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 50%, #ccc 50%);
      background-size:10px 10px;
      background-position:0 0, 15px 15px;
    }

    @include breakoint(small) {
      /* Styles */
      width: 90%;
    }
  }

}

img#kickstarter {
  padding: 1em;
  width: 60%;

  @include breakoint(small) {
    width: 100%;
  }
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#banner {
  h2 {
    font-weight: 400;
  }

  .subtitle {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.2em;
  }

  span#glow {
    font-family: 'Expletus Sans', cursive;
    font-size: 1.1em;
    font-variant-caps: normal;
    text-transform: none;
  }
}
