---
title: Buying Guide
internal: true
subtitle: This will guide you in determining if Glow is compatible with your home
layout: page
---

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $("a[data-question-result]").on("click", function(event) {
      showQuestionResult($(event.target));
      // disableSelfAndSiblings($(event.target).parents(".question"))

      event.preventDefault();
    });

    $("a#start-over").on("click", function(event) {
      startOverSurvey();

      event.preventDefault();
    });
  });

  function showQuestionResult(target) {
    var idToShow = "#" + question_result(target);
    var element = $(idToShow);
    element.removeClass("hidden");

    scrollToId(idToShow);
  }

  function question_result(target) {
    // This is to allow both link text and images to be clickable
    var target = target.data('question-result') ? target : target.parent();

    return target.data('question-result')
  }

  function scrollToId(id) {
    $('html, body').animate({
      scrollTop: $(id).offset().top
    }, 1000);
  }

  // function disableSelfAndSiblings(target) {
  //   console.log(target.find("a[data-question-result]"))
  // }

  function startOverSurvey(){
    $('[id*=question-]').addClass("hidden"); // Hide all question-* elements
    $("#question-1").removeClass("hidden");
    scrollToId("#question-1")
  }
</script>

<div class="buying-guide">
  {% for question_set in site.data.buying_guide %}
  	<div class="row question {{ question_set.question.initial_state }}" id="question-{{ question_set.id }}">
  		<section class="8u -2u">
  			<header>
  				<h2 class="question">{{ question_set.question.text }}</a></h2>
  			</header>

  			{{ question_set.question.helper_text }}

  			<p class="responses">
          <div class="row">
            {% for response_option in question_set.responses %}
              {% assign grid_width = 12 | divided_by: question_set.responses.size %}

              {% if response_option.image_path %}
    					  <div class="{{ grid_width }}u 12u$(small) response">
                  <a href="#" class="image fit" data-question-result="{{ response_option.result }}">
                    <img src="{{ response_option.image_path }}" class="fit" /><br />
                    {{ response_option.text }}
                  </a>
                </div>
              {% else %}
                <div class="{{ grid_width }}u response">
                  <a href="#" class="button" data-question-result="{{ response_option.result }}">
                    {{ response_option.text }}
                  </a>
                </div>
              {% endif %}
    				{% endfor %}
          </div>
  			</p>
  		</section>
  	</div>
  {% endfor %}

  <div class="row result hidden" id="question-success">
  	<section class="8u -2u">
  		<header>
  			<h2>Glow is compatible!</a></h2>
  		</header>

  		<p>
  			Yay! Glow is compatabile with Glow. You'll be saving money and helping the environment before you know it. <br /><a class="button special fit cta" href="{{ site.share.kickstarter }}">Buy Now</a>
  		</p>
  	</section>
  </div>

  <div class="row result hidden" id="question-failure">
  	<section class="8u -2u">
  		<header>
  			<h2>Glow is not comptabile</a></h2>
  		</header>

  		<p>
  			We're sorry, but Glow is not currently compatible with your home. Please signup below for details about when we are able to support your home.
  		</p>
  	</section>
  </div>

  <div class="row controls">
    <div class="8u -2u">
      <a href="#" id="start-over">Start Over</a>
    </div>
  </div>
</div>
