<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Expletus+Sans|Josefin+Sans|Montserrat:400,100,300,700,500,900" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/glow.css" | prepend: site.baseurl }}" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->
  <script src="https://use.fontawesome.com/1473ea46c8.js"></script>

  <meta name="keywords" content="{{ site.keywords }},{{ page.keywords }}" />

	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="fb:app_id" content="1801730516823453" />

	{% if page.type %}<meta property="og:type" content="{{ page.type }}" />{% endif %}
	{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
	{% if page.imageURL %}<meta property="og:image" content="{{ page.imageURL }}" />{% endif %}
</head>
