<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
	<meta name="keywords" content="{{ site.keywords }},{{ page.keywords }}" />

	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:title" content="{{ page.title }}" />
	{% if page.type %}<meta property="og:type" content="{{ page.type }}" />{% endif %}
	{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
	{% if page.imageURL %}<meta property="og:image" content="{{ page.imageURL }}" />{% endif %}

	<script src="https://use.fontawesome.com/1473ea46c8.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
	<link href="https://fonts.googleapis.com/css?family=Expletus+Sans:600|Josefin+Sans|Montserrat|Roboto:400,100,300,700,500,900" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/glow.css" />
</head>
<body>

{{ content }}

<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Stay in touch</h2>
				<!-- <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> -->
			</header>
			<ul class="contact">
				<li><a href="http://twitter.com/meetglow" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li class="active"><a href="http://www.facebook.com/meetglow" class="fa fa-facebook"><span>Facebook</span></a></li>
			</ul>
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		&copy; 2017 Potential Labs, LLC
	</div>
</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-101414008-1', 'auto');
	ga('send', 'pageview');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '230672480788130'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=230672480788130&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

</body>
</html>
