---
layout: default
---
	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Glow</a></h1>
				<span class="tag">Meet the Energy Tracker for Your Home</span>
			</div>
		</div>
	</div>
	<!-- Header -->
	
	{{ content }}

	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;When we started working on energy tracking, what we didn’t realize was that being in the home was as important as gathering data about it. It makes Glow part of your life, not just another app.&rdquo; <br><b>— Ben Lachman, Co-founder</b></blockquote>
			</section>
		</div>
	</div>
